body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
#title {
  padding-left: 70px;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  background: url(/icon/icon.png) 5px center no-repeat;
}

form,
fieldset,
ul {
  padding: 0;
  margin: 0;
}
fieldset {
  padding: 15px 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.option-list > li:not(:last-child) {
  margin-bottom: 10px;
}
#option-form li.desc {
  font-size: 13px;
}

label {
  display: inline-block;
  width: 120px;
}
input#zoomRatio {
  vertical-align: middle;
  width: 120px;
}
input#rotateDeg {
  vertical-align: middle;
  width: 180px;
}
input.customSearchUrl {
  width: 500px;
}

span#notFactor {
  display: none;
}
li#debounceDesc,
li#throttleDesc {
  display: none;
}
