body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
#title {
  padding-left: 70px;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  background: url(/icon/icon.png) 5px center no-repeat;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
}
nav > div {
  height: 50px;
  border: 2px solid;
  margin-left: 5px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #303030;
}
a > img {
  border-right: 2px solid;
  border-color: black;
  background-color: white;
}
a > span {
  color: orange;
  margin: 0 5px;
}

form,
fieldset,
ul {
  padding: 0;
  margin: 0;
}
fieldset {
  padding: 15px 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.option-list > li:not(:last-child) {
  margin-bottom: 10px;
}
#option-form li.desc {
  font-size: 13px;
}

label {
  display: inline-block;
  width: 180px;
}
input#zoomRatio,
input#rotateDeg {
  vertical-align: middle;
  width: 180px;
}
input.customSearchUrl {
  width: 500px;
}

span#notFactor,
li#debounceDesc,
li#throttleDesc,
li#autoDesc {
  display: none;
}
