body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
#title {
  padding-left: 70px;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  background: url(/icon/icon.png) 5px center no-repeat;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
}
nav > div {
  height: 50px;
  border: 2px solid;
  margin-left: 5px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #303030;
}
a > img {
  border-right: 2px solid;
  border-color: black;
  background-color: white;
}
a > span {
  color: orange;
  margin: 0 5px;
}

form,
fieldset,
ul {
  padding: 0;
  margin: 0;
}
fieldset {
  padding: 15px 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

#optionForm li.desc {
  font-size: 13px;
}
.option-list > li:not(:last-child) {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 180px;
}
input#zoomRatio,
input#rotateDeg {
  vertical-align: middle;
  width: 180px;
}
input.customSearchUrl {
  width: 500px;
}

span#notFactor,
li#debounceDesc,
li#throttleDesc,
li#autoDesc,
li#panelDesc {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px 20px 15px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

h2#modalTitle {
  margin: 0px 0px 10px 0px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 0.8;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#importTextarea {
  width: 100%;
  height: 300px;
  font-family: monospace;
}
