abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,strike,summary,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}
strong, em, span, font, sub, sup, a{
	border: 0;
	margin: 0;
	padding: 0;
}
input, select, option, textarea{
	padding:0;
	margin:0;
	font-size: 12px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}
a{ cursor:pointer }
a, a:link, a:active, a:visited {
	color:#000;
	text-decoration:none; 
}
a:hover {
	color:#000;
	text-decoration:none;
}